/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #023047;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

img { 
  width: 100%;
  display: block;
  margin:  auto;
}
.logo { 
  width: 10%;
  display: block;
  margin:  0;
}

.footerLogo{
  width: 50%;
  display: block;
  margin:  0;
}
